
@{
    ViewData["Title"] = "Programming";
}

<!-- Programming-->
<section class="projects-section bg-light" id="programming">
    <div class="container px-4 px-lg-5">
        <h2 class="text-black mb-4">My Programming things</h2>
        <!-- Programming One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6">
                <div class="bg-white text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black">Dependency Injection</h4>
                            <p class="mb-0 text-black-50">Software design pattern that allows us to separate the dependencies of a class from its implementation.</p>
                            <a href="https://github.com/AlbertSM-dev/Dependency-Injection/blob/main/main.cs" target="_blank">
                                <button>Example in my GitHub</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">SOLID</h4>
                            <h5>S: Single Responsibility Principle (SRP)</h5>
                            <p class="mb-0 text-white-50">Every class or similar structure in your code should have only one job.</p>
                            <a href="https://github.com/AlbertSM-dev/Single-Responsibility-Principle/blob/main/main.cs" target="_blank">
                                <button>Example in my GitHub</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Programming Two Row-->
       <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">SOLID</h4>
                            <h5>O: Open/Closed Principle</h5>
                            <p class="mb-0 text-white-50">A software module/class is open for extension and closed for modification.</p>
                            <a href="https://github.com/AlbertSM-dev/Open-Closed-Principle/blob/main/main.cs" target="_blank">
                                <button>Example in my GitHub</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-white text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black">Dependency Injection</h4>
                            <p class="mb-0 text-black-50">Software design pattern that allows us to separate the dependencies of a class from its implementation.</p>
                            <a href="https://github.com/AlbertSM-dev/Dependency-Injection/blob/main/main.cs" target="_blank">
                                <button>Example in my GitHub</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Programming Third Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6">
                <div class="bg-white text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black">Dependency Injection</h4>
                            <p class="mb-0 text-black-50">Software design pattern that allows us to separate the dependencies of a class from its implementation.</p>
                            <a href="https://github.com/AlbertSM-dev/Dependency-Injection/blob/main/main.cs" target="_blank">
                                <button>Example in my GitHub</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">SOLID</h4>
                            <h5>S: Single Responsibility Principle (SRP)</h5>
                            <p class="mb-0 text-white-50">Every class or similar structure in your code should have only one job.</p>
                            <a href="https://github.com/AlbertSM-dev/Dependency-Injection/blob/main/main.cs" target="_blank">
                                <button>Example in my GitHub</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
